<div *ngIf="hero">
  
  <h2>DETALLES: {{hero.name | uppercase}} </h2>

  <img [src]="hero.imagen" alt="imagen" class="imagen" >
  
  <br>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">PELICULA:</label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
  </div>
  <div class="descripcion">
    <label for="hero-descripcion">DESCRIPCION :</label>
    <textarea for="hero-descripcion" [(ngModel)]="hero.descripcion" placeholder="DESCRIPCION"></textarea>
  </div>
  <button type="button" (click)="goBack()">VOLVER</button>
  <button type="button" (click)="save()">GUARDAR</button>
</div>

